.search-filter {
  color: #9ef19e;
  padding: 0 1rem;
  display: flex;
  gap: 2rem;
}

.search-filter__control {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.search-filter__option {
  color: #3f813f;
  margin-bottom: 0.5rem;
}

.search-filter__label {
  font-weight: bold;
  color: #193119;
  margin-bottom: 0.5rem;
}

.search-filter__control select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  background-color: #9ef19e;
}
.search-filter__option:hover {
  background-color: #000;
}
