.search {
  max-width: 95%;
  padding: 1rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.search-contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 600px) {
  .search {
    gap: 1rem;
  }
  .search-contents {
    flex-direction: column;
  }
  .load-button {
    width: 90%;
  }
}
