.search-bar {
  width: 15rem;
  position: relative;
  display: flex;
  gap: 1rem;
}

.search-field {
  width: 90%;

  padding: 1rem;
  transition: all 1s ease-in;
  color: #000;
  border: none;
  background-color: #46aa46;
  border-radius: 12px;
}
.search-field:focus {
  transform: scaleX(1.25);
  outline: none;
  background-color: #195219;
  color: #fff;
}
.search-field::placeholder {
  color: #fff;
}
.search-bar__btn {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0.5rem;
  color: #fff;
  background-color: transparent;
  border: none;
  transition: all 1s ease-out;
}
.search-field:focus ~ .search-bar__btn {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.search-bar.invalid input {
  background-color: rgb(202, 108, 108);
  border: 1px solid red;
}
.search-bar.invalid .search-icon {
  color: red;
}
